<!DOCTYPE html>
<html>
<head>
    <title>Text Summarizer - Result</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons.png') }}">
</head>
    <header>
        <h1 style="font-family: Arial;">WELCOME TO TEXT SUMMARIZER</h1>
    </header>
    <body>
        <br>
        <div class="answer">
        
        <img src="/static/images/wordcloud.png" style="display: block; margin: 0 auto; border-radius: 10px; min-width:400px; min-height: 250px;">
        </div>
        <footer>
            <p>&copy; Hari Hara Sudan 2022 Text Summarizer</p>
        </footer>
    </body>
</html>
